.totals-block {
  background-color: #8db4ff;
  color: #000;
  border: none;
  border: none;
  padding: 8px 12px;
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.25rem;
  border-radius: 8px;
  transition: all 0.3s ease;

  .divNormal {
    font-family: 'Roboto' !important;
  }

  .divBold {
    font-family: 'Roboto' !important;
    font-weight: 600;
  }
}

.back-button {
  background-color: transparent;
  color: #0554ef;
  border: none;
  border: none;
  padding: 6px 6px;
  font-family: "Roboto";
  font-weight: 600;
  font-size: .875rem;
  line-height: 1.25rem;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.inventory-book-tbl-details {
  height: calc(100vh - 160px);
}

.inventory-book-tbl {
  .table {

    thead,
    tbody {
      .boxshadow-none {
        box-shadow: none !important;
      }

      .box-shadow {
        box-shadow:
          inset 0 0.4px 0 0 #e0edff,
          inset -3px 0 0 0 #e0edff,
          inset 0 -0.4px 0 0 #e0edff,
          inset 0.4px 0 0 0 #e0edff;
      }

      th:nth-child(1),
      th:nth-child(2),
      th:nth-child(3),
      th:nth-child(4),
      th:nth-child(5),
      th:nth-child(6),
      th:nth-child(7),
      th:nth-child(8),

      td:nth-child(1),
      td:nth-child(2),
      td:nth-child(3),
      td:nth-child(4),
      td:nth-child(5),
      td:nth-child(6),
      td:nth-child(7),
      td:nth-child(8) {
        box-shadow:
          inset 0 0.4px 0 0 #e0edff,
          inset -3px 0 0 0 #e0edff,
          inset 0 -0.4px 0 0 #e0edff,
          inset 0.4px 0 0 0 #e0edff;
      }

      td {
        padding-right: 1.5rem;
      }

      .comment {
        width: fit-content;
        // max-width: 420px;
        background: #f4f6f9;
        border-radius: 0 10px 10px 10px;
        border: 1px solid #e0e0e0;
        font-family: 'Roboto';
        padding: 10px 12px;
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      .comment-text {
        font-size: .9rem;
        color: #000;

        .white-space-normal {
          white-space: normal;
        }
      }

      .comment-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 8px;
        font-size: .7rem;
        color: #333;
      }

      .comment-user {
        font-weight: 500;
      }

      .comment-delete img {
        width: 14px;
        cursor: pointer;
      }
    }
  }
}


.pointer {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.disable {
  pointer-events: none !important;
  // display: none;
  color: #363b4f;
}


@media print {
  @page {
    size: A4 landscape;
    margin: 1cm;
    /* Adjust the margin as needed */
  }

  .NavBarHide {
    display: none;
  }

  #ServiceAdvisorRankings {
    .performance-scorecard {
      width: 100%;
      height: auto;

      table,
      td,
      th {
        border-collapse: collapse;
      }

      tr:nth-child(1) th {
        .HideItems {
          display: none;
        }
      }

      th {
        padding: 2px 4px;
        font-size: 0.75vw;
      }

      tr th:last-child {
        padding-right: 6px;
      }

      td {
        padding: 2px 4px;
        font-size: 0.75vw;
      }

      .HideItems {
        display: none;
      }
    }
  }
}