.servicegrossgl-tbl {
    .table {

        thead,
        tbody {

            th:nth-child(1),
            th:nth-child(2),
            th:nth-child(9),
            th:nth-child(13),

            td:nth-child(1),
            td:nth-child(2),
            td:nth-child(9),
            td:nth-child(13) {
                box-shadow:
                    inset 0 0.4px 0 0 #e0edff,
                    inset -3px 0 0 0 #e0edff,
                    inset 0 -0.4px 0 0 #e0edff,
                    inset 0.4px 0 0 0 #e0edff;
            }

        }
    }
}


.negative{
  color: red;
}
.positivebg {
  background-color: #6fb979;
}

.negativebg {
  background-color: #e37474;
}
.divBold {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    font-family: 'Roboto' !important;

    td {
        img {
            display: none;
        }
    }
}

::ng-deep .modal-dialog {
  max-width: 80%; /* adjust width */
  z-index: 9999;
}
