<div class="container-fluid d-flex justify-content-center align-items-center px-0"
  [ngStyle]="{'pointer-events': spinnerLoader  ? 'none': 'visible'}">
  <!-- <div class="gross-popup">
      <div class="header">  
        <h5 class="title" style="white-space: nowrap;float: left;margin-left: -2rem;">
          <span class="slash">//</span>Add Notes   &nbsp;&nbsp; <span class="slash" style="font-size:.8rem">#</span> <span style="font-size:.8rem">
            {{ notesData?.apiRoute == 'AddNotesAction' ? notesData.mainkey : notesData.title1 }}
          </span> 
          <a type="button" class="close-btn ms-auto me-2" id="close" (click)="close('O')" style="text-decoration: none;color: black;">X </a>
        </h5>
      </div>
      <div class="body"> 
        <div class="row  d-flex align-items-center " style="margin-top: 2rem;">
          <div class="col-1"></div>
          <div class="col-10 ps-4 cntr">&nbsp;
          </div>
        </div>
        <div class="row   align-items-center">
          <div class="col-1">&nbsp;</div>
          <div class="col-6 ps-4">Enter Notes:</div>
  
        </div>
        <div class="row  d-flex align-items-center">
            <div class="col-1"></div>
          <div class="col-10 ps-4 cntr">      
            <textarea class="form-control" [(ngModel)]="notes" rows="5" maxlength="1000"
              placeholder="Notes..."></textarea>
          </div>
        </div> 
  
  
  
        <div class="row mb-2 mt-4 d-flex align-items-center">
          <div class="col-3"></div>
          <div class="col-4 mt-4 ps-0 cntr">
            <button type="button" class="btn btn-primary " (click)="savenotes()">Save</button>
          </div>&nbsp;&nbsp;
          <div class="col-1  cntr" style="color: #2a91f0;font-size: .8rem;font-family: 'Roboto';cursor: pointer;">
            <span id="closecommment" (click)="close('C')">Cancel</span>
          </div>
          <div class="col-3"></div>  
        </div>  
      </div>
      </div> -->

  <!-- <div class="recap position-relative"  >
  <div class="row w-100 m-0">
    <div class="col-lg-12 modal-body-custom">
<div style="display: flex;">
      <div class="row">

      
      <div
  class="col-12 notes-panel"
  [ngClass]="history.length ? 'col-lg-12' : 'col-lg-12 d-flex justify-content-center'"
>

  <div
    class="notes-inner"
    [ngClass]="{ 'notes-only-layout': !history.length }"
  >

 
    <div class="d-flex align-items-center justify-content-between mb-3">
      <h4 class="m-0">
        Deal #:
        <span class="fw-semibold">
          {{ notesData?.apiRoute == 'AddNotesAction'
            ? notesData.mainkey
            : notesData.title1 }}
        </span>
      </h4>
      <button type="button" class="btn-close" (click)="close('O')"></button>
    </div>

  
    <label class="form-label">Notes</label>
    <textarea
      class="form-control notes-textarea"
      [(ngModel)]="notes"
      rows="6"
      maxlength="1000"
      placeholder="Enter your notes here">
    </textarea>

  
    <div class="text-end mt-4">
      <button class="btn btn-primary me-2" (click)="savenotes()">Save</button>
      <button class="btn btn-outline-secondary" (click)="close('C')">Cancel</button>
    </div>

  </div>
</div>

 </div>
      
        <div class="col-lg-12 col-12 history-panel" *ngIf="history?.length">

          <h5 class="mb-3">History</h5>

          <div class="history-scroll">
            <div class="history-item" *ngFor="let h of history">
              {{ h.History_Details }}
            </div>
          </div>

        </div>
        </div>
</div>
     

    </div>
  </div> -->






  <!-- <div class="recap">
    <div class="modal-body-custom">
      <div class="row g-3">
        <div class="col-12" [ngClass]="history?.length ? 'col-lg-7' : 'col-lg-12 d-flex justify-content-center'">
          <div class="notes-inner" [class.notes-only-layout]="!history?.length">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h4 class="m-0">
                Deal #:
                <span class="fw-semibold">
                  {{ notesData?.apiRoute == 'AddNotesAction'
                  ? notesData.mainkey
                  : notesData.title1 }}
                </span>
              </h4>
              <button class="btn-close" (click)="close('O')"></button>
            </div>
            <label class="form-label">Notes</label>
            <textarea class="form-control notes-textarea" [(ngModel)]="notes" rows="6" maxlength="1000"
              placeholder="Enter your notes here">
          </textarea>
            <div class="text-end mt-4">
              <button class="btn btn-primary me-2" (click)="savenotes()">Save</button>
              <button class="btn btn-outline-secondary" (click)="close('C')">Cancel</button>
            </div>

          </div>
        </div>
        <div class="col-lg-5 col-12" *ngIf="history?.length">
          <div class="history-container">
            <h5>Finance RSV Per Route One History</h5>
            <div class="history-scroll">
              <div class="history-block" *ngFor="let h of history">
                {{ h.History_Details }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->



  <div class="recap position-relative w-100" [ngClass]="hasHistory ? 'recap-split' : 'recap-full'">
    <div class="row d-flex w-100 m-0">
      <div class="col-lg-12" style="overflow: auto;max-height: calc(100vh - 80px);">
        <div class="row">
          <div [ngClass]="hasHistory ? 'col-12 col-lg-6' : 'col-12 col-lg-12'">
            <div class="col-lg-12 col-12 d-flex align-items-center justify-content-between">
              <div class="mx-4 m-2 p-2">
                <div class="row align-items-center">
                  <div class="col-12 p-0">
                    <h2 class="m-0 p-0">
                      Deal # :
                      <span>
                        {{ notesData?.apiRoute == 'AddNotesAction'
                        ? notesData?.mainkey
                        : notesData?.title1 }}
                      </span>
                    </h2>
                  </div>
                </div>
              </div>
              <div class="row mt-1 float-end m-0 position-absolute" style="right:0;">
                <div class="col-lg-12">
                  <button type="button" class="btn-close" aria-label="Close" (click)="close('C')">
                  </button>
                </div>
              </div>
            </div>
            <div class="p-4">
              <div class="col-lg-12 col-12 d-flex align-items-center justify-content-between noteblock">
                <div class="w-100">
                  <div class="mb-2">
                    <label class="form-label">Notes</label>
                    <textarea class="form-control notes-textarea" [(ngModel)]="notes" rows="6" maxlength="1000"
                      placeholder="Enter your notes here">
                  </textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-12 d-flex align-items-center">
              <div class="m-3 w-100">
                <div class="d-flex justify-content-end gap-2 mt-2">
                  <button class="btn btn-outline-primary editbtn" (click)="savenotes()">
                    Save
                  </button>
                  <button class="btn btn-outline-danger cancelbtn" (click)="close('C')">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
            <div class="history-scroll m-2 py-0" style="max-height: 300px; overflow: auto; font-family: 'Roboto';" *ngIf="FullData?.COMMENT" >
              <div class="history-block text-capitalize mb-0 py-1" *ngFor="let note of FullData?.COMMENT">
                {{ note.GN_TEXT }}
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12" *ngIf="hasHistory">
            <div class="col-lg-12 col-12 history-panel">
              <div class="col-lg-12 col-12 d-flex align-items-center justify-content-between">
                <div class="mx-4 m-2 p-2">
                  <div class="row align-items-center">
                    <div class="col-12 p-0">
                      <h2 class="m-0 p-0">
                        Finance RSV Per Route One History
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="history-scroll my-0 py-0" style="max-height: 300px; overflow: auto; font-family: 'Roboto';">
                <div class="history-block text-capitalize" *ngFor="let h of notesData.history" style="color: #0554ef;">
                  {{ h.History_Details }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>