.form-check-input:checked {
  background-color: #0554ef;
  border-color: #0554ef;
}

.form-check-input {
  border: 1px solid #0554ef;
}

.form-check-input:checked {
  background-color: #0554ef;
  border-color: #0554ef;
}

.form-check-input:focus {
  border-color: #0554ef;
  box-shadow: 0 0 0 0.2rem rgba(5, 84, 239, 0.25);
}