.partsopendetails-tbl {
    .table {

        thead,
        tbody {

            .box-shadow {
                box-shadow:
                    inset 0 0.4px 0 0 #e0edff,
                    inset -3px 0 0 0 #e0edff,
                    inset 0 -0.4px 0 0 #e0edff,
                    inset 0.4px 0 0 0 #e0edff;
            }

            th:nth-child(7),
            th:nth-child(12),
            th:nth-child(17),
            th:nth-child(22),
            th:nth-child(27),

            td:nth-child(7),
            td:nth-child(12),
            td:nth-child(17),
            td:nth-child(22),
            td:nth-child(27) {
                box-shadow:
                    inset 0 0.4px 0 0 #e0edff,
                    inset -3px 0 0 0 #e0edff,
                    inset 0 -0.4px 0 0 #e0edff,
                    inset 0.4px 0 0 0 #e0edff;
            }


        }
    }
}

.search input {
    min-height: 2rem;
    width: 18rem;
    padding: 0.275rem 0.75rem 0.275rem 2.75rem;
    border-radius: 12px;
    background: #fff;
    border: 0.5px solid #D9E7FF;
    font-size: 0.875rem;
    font-family: "Roboto";
    font-weight: 400;
    color: #18181b;
}


.lightblue-bg {
    background-color: #d9e7ff !important;
    color: #000;
    font-family: "Roboto";
}

.second-header {
    background-color: #4584ff !important;
    color: #fff !important;
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: 700;
    font-size: .875rem;
}