.negative{
  color: red;
}
.positivebg {
  background-color: #6fb979;
}

.negativebg {
  background-color: #e37474;
}
.date-filter-card {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(8, auto);
    grid-auto-columns: 150px;
    gap: 0.5rem 1rem;
    justify-content: center;

    >* {
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.divBold {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    font-family: 'Roboto' !important;

    td {
        img {
            display: none;
        }
    }
}



.partsgrossgl-tbl {

    table {

        thead,
        tbody {
            .boxshadow-none {
                box-shadow: none !important;
            }

            th:nth-child(1),
            th:nth-child(2),
            th:nth-child(9),
            th:nth-child(13),

            td:nth-child(1),
            td:nth-child(2),
            td:nth-child(9),
            td:nth-child(13) {
                box-shadow:
                    inset 0 0.4px 0 0 #e0edff,
                    inset -3px 0 0 0 #e0edff,
                    inset 0 -0.4px 0 0 #e0edff,
                    inset 0.4px 0 0 0 #e0edff;
            }
        }
    }
}

::ng-deep .modal-dialog {
    max-width: 80%;
    /* adjust width */
    z-index: 9999;
}

@media (max-width: 1600px) {
    .date-filter-card {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(10, auto);
        grid-auto-columns: 120px;
        gap: 0.5rem 1rem;
        justify-content: center;
    }

    .date-filter-card>* {
        width: 120px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    hr {
        display: none;
    }
}