
  
/////////////////////////////////////DATE PICKER SCSS////////////////////////////////////
::ng-deep  bs-daterangepicker-container {
  z-index: 1080;
  margin-left: 20rem !important;
  padding-top: 7rem !important;
    padding-left: 22rem !important;
}
::ng-deep .bs-datepicker {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  background: #fff;
  box-shadow: 0 0 10px 0 #aaa;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  top: 9px ;
  // right: 167px ;
  // left: 30%;
}

::ng-deep .theme-green .bs-datepicker-head {
  background-color: #fff;

}
::ng-deep .bs-datepicker-head {
  min-width: 270px;
  height: 30px;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  text-align: justify;
}
::ng-deep  .bs-datepicker-head button {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  height: 30px;
  line-height: 30px;
  border: 0;
  background: transparent;
  text-align: center;
  cursor: pointer;
  color: black;
  transition: 0.3s;
}
::ng-deep .bs-datepicker-head button[disabled], .bs-datepicker-head button[disabled]:hover, .bs-datepicker-head button[disabled]:active {
  background: #fff;
  color: #000;
  cursor: not-allowed;
}

::ng-deep  .bs-datepicker-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
 padding-top: 0px;
 border-top: none;
}

::ng-deep  .bs-datepicker-body {
  padding: 10px;
  border-radius: 0 0 3px 3px;
  min-height: 190px;
  min-width: 270px;
  border:none;
}

::ng-deep  .bs-datepicker-body table th {
  font-size: 13px;
  color: #000;
  font-weight: 400;
  text-align: center;
  padding-bottom: 10px;
}

::ng-deep .bs-datepicker-body table td {
  color: #000;
  text-align: center;
  position: relative;
  padding: 0;
}

::ng-deep  .bs-datepicker-body table.days span {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

::ng-deep .theme-green .bs-datepicker-body table td span.selected, .theme-green .bs-datepicker-body table td.selected span, .theme-green .bs-datepicker-body table td span[class*=select-]:after, .theme-green .bs-datepicker-body table td[class*=select-] span:after {
  background-color: #e65f1b;
}

::ng-deep .theme-green  .bs-datepicker-body table td span[class*=select-]:before, .theme-green .bs-datepicker-body table td[class*=select-] span:before {
  background: #fcded4 !important;
  height: 20px;
  margin-top: -3px;
}
::ng-deep .bs-datepicker-body table.days td.active, .bs-datepicker-body table.days td.in-range, .bs-datepicker-body table.days span.active, .bs-datepicker-body table.days span.in-range ,.bs-datepicker-body table.days span.select-start{
  background: #fcded4 !important;
  height: 20px;
    margin-top: -3px;
}

::ng-deep  .is-other-month{
  display: none !important;
}
::ng-deep .bs-datepicker-container {
  padding: 10px;
}
// @media (min-width: 992px){
//   .col-lg-2 {
//     flex: 0 0 auto;
//     width: 18.666667%;
// }

// }
// @media(min-width: 1800px) {
//   .col-lg-2 {
//     flex: 0 0 auto;
//     width: 16.666667%;
// }
// }

.loader {
  border: 5px solid #c8bdbd;
   border-radius: 50%;
   border-top: 5px solid #2d91f1;
  width: 50px;
   height: 50px;
  animation: spin .7s linear infinite;
   top: 5rem;
   position: absolute;
   z-index: 999;
  left: 11rem;
  }


  @keyframes spin {
  0% {
   transform: rotate(0deg);
   }
  100% {
  transform: rotate(360deg);
   }
  }

 