.serviceabsorption-tbl {
    .table {

        thead,
        tbody {

            th:nth-child(1),
            th:nth-child(5),
            th:nth-child(10),

            td:nth-child(1),
            td:nth-child(5),
            td:nth-child(10) {
                box-shadow:
                    inset 0 0.4px 0 0 #e0edff,
                    inset -3px 0 0 0 #e0edff,
                    inset 0 -0.4px 0 0 #e0edff,
                    inset 0.4px 0 0 0 #e0edff;
            }

        }
    }
}

.divBold {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    font-family: 'Roboto' !important;

    td {
        img {
            display: none;
        }
    }
}