<div class="container-fluid">
  <div class="sidebar" #sidebar [class.collapsed]="isSidebarCollapsed">

    <!-- MAIN MENU -->
    <ul class="nav flex-column">
      <ng-container *ngIf="menuLoading">
        <li class="skeleton-item" *ngFor="let s of [1,2,3,4,5,6,7,8,9]">
          <div class="skeleton-link">
            <div class="skeleton-icon"></div>
            <div class="skeleton-text" *ngIf="!isSidebarCollapsed"></div>
          </div>
        </li>
      </ng-container>
      <ng-container *ngIf="!menuLoading">
        <ng-container *ngFor="let item of parentmenu">

          <li *ngIf="item[0]?.mod_prod_id === 1 && isXpert" class="nav-item"
            [class.disabled]="disabledParentIds.has(item[0]?.mod_prod_id)">

            <a class="nav-link" (click)="!disabledParentIds.has(item[0]?.mod_prod_id) && handleClick(item)" [ngClass]="{
         'askAicustome': true,
         'disabled-link': disabledParentIds.has(item[0]?.mod_prod_id)
       }">
              <img src="images/New_Menu_Icons/{{ item[0].prod_title }}.svg" alt="">
              <span class="nav-text">
                {{ item[0].mod_prod_id === 22 ? 'favourite' : item[0].prod_title }}
              </span>
            </a>
          </li>

          <!-- mod_id !== 1 -->
          <li *ngIf="item[0]?.mod_prod_id !== 1" class="nav-item"
            [class.disabled]="disabledParentIds.has(item[0]?.mod_prod_id)">

            <a class="nav-link" (click)="!disabledParentIds.has(item[0]?.mod_prod_id) && handleClick(item)" [ngClass]="{
         'disabled-link': disabledParentIds.has(item[0]?.mod_prod_id)
       }">
              <img src="images/New_Menu_Icons/{{ item[0].prod_title }}.svg" alt="">
              <span class="nav-text">
                {{ item[0].mod_prod_id === 22 ? 'favourite' : item[0].prod_title }}
              </span>
            </a>
          </li>

        </ng-container>

      </ng-container>
    </ul>
    <ng-container *ngIf="playbookmainmenuloading">
      <div class="playbook">
        <h4 class="skeleton-title"></h4>
        <div class="playbook-inner">
          <div class="playbook-item" *ngFor="let s of [1,2,3]" [style.display]="'flex'" [style.flexDirection]="'column'"
            [style.gap]="!isSidebarCollapsed ? '0rem' : '.75rem'">
            <div class="skeleton-img"></div>
            <div class="skeleton-text" *ngIf="!isSidebarCollapsed"></div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="playbook" *ngIf="playbookmainmenu && !playbookmainmenuloading">
      <h4>Playbook</h4>

      <div class="playbook-inner">
        <div class="playbook-item" *ngFor="let item of playbookmainmenu" (click)="toggleMainMenu(item)">
          <img [src]="'images/'+item.label+'.svg'" alt="">
          <span>{{item.label}}</span>
        </div>
      </div>
    </div>
    <!-- SUBMENU LEVEL 1 -->
    <div class="submenu" *ngIf="selectedModule" (mouseleave)="closesub()" #menu>
      <ng-container *ngFor="let module of comm.modules">

        <ul class="submenu-list" *ngIf="subid === module[0].mod_prod_id">

          <!-- Header -->
          <div class="submenu-header">
            <h4>
              <span>
                <img src="images/New_Menu_Icons/black/{{ module[0].prod_title }}.svg" alt="">
              </span>
              {{ module[0].mod_prod_id === 22 ? 'favourite' : module[0].prod_title }}
            </h4>
          </div>

          <!-- Submenu Items -->
          <ng-container *ngIf="module[0].mod_prod_id !== 2">
            <ng-container *ngFor="let sub of module">

              <!-- Case 1: "Direct children" (mod_name == prod_title) -->
              <ng-container *ngIf="isEqualIgnoreCase(sub.mod_name, module[0].prod_title); else normalMenu">
                <li *ngFor="let child of sub.xmlData" (click)="child.mod_filename && gotoLink(child.mod_filename)"
                  [ngClass]="{ 'disabled-link': !child.mod_filename }">
                  {{ child.mod_name }}
                </li>
              </ng-container>

              <!-- Case 2: Normal submenu item -->
              <ng-template #normalMenu>
                <li (mouseenter)="togglesubmenu2($event, sub.Mod_ID, sub.mod_prod_id)"
                  [ngStyle]="{ 'background': selectedSubmenuId === sub.Mod_ID ? '#e3eaf3' : 'transparent' }">
                  {{ sub.mod_name }}
                  <span class="count">{{ sub?.xmlData?.length }}</span>
                </li>
              </ng-template>

            </ng-container>
          </ng-container>

        </ul>
      </ng-container>

    </div>
    <div class="submenu" *ngIf="isAnyMenuSelected()">
      <ul class="submenu-list">
        <div class="submenu-header">
          <h4>
            <span>
              <img [src]="'images/'+getselectedTitle()+'.svg'" alt="">
            </span>
            {{ getselectedTitle() }}
          </h4>
        </div>
        <li (mouseenter)="togglepbSubMenu(sub)" *ngFor="let sub of playbooksmenu" [ngClass]="{'active':sub.isSelected}">
          {{ sub.name }}
          <span class="count">{{ sub.count }}</span>
        </li>
      </ul>
    </div>

    <!-- SUBMENU LEVEL 2 -->
    <div class="submenu2" *ngIf="supersub > 0 && hasValidSubmenuForItem(comm.modules, supersub)">

      <img src="images/menu_icons/back_icon.png" alt="" (click)="close()" style="cursor: pointer;">

      <ng-container *ngFor="let module of comm.modules">
        <ng-container *ngFor="let subitem of module">

          <ul class="submenu-list" *ngIf="supersub === subitem.Mod_ID &&
                     prodid !== 22 &&
                     !isEqualIgnoreCase(subitem.mod_name, module[0].prod_title)">
            <li *ngFor="let child of subitem.xmlData" (click)="child.mod_filename && gotoLink(child.mod_filename)"
              [ngClass]="{ 'disabled-link': !child.mod_filename }">
              {{ child.mod_name }}
            </li>
          </ul>

        </ng-container>
      </ng-container>

    </div>

    <div class="submenu2" *ngIf="isAnySubMenuSelected()">
      <img src="images/menu_icons/back_icon.png" alt="" (click)="close()" style="cursor: pointer;">

      <div *ngFor="let item of playbooksmenu">
        <div *ngIf="item.isSelected">
          <ul class="submenu-list">
            <li *ngFor="let module of item.Module_List" (click)="gotoLinkPlaybooks(module.filename)">
              <a>{{module.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- SIDEBAR COLLAPSE BUTTON -->
    <div class="closeMenu" (click)="toggleSidebar()">
      <span style="color: white;">v_1.0.1</span>
      <img src="images/New_Menu_Icons/ArrowLeft.svg" alt="">
    </div>

  </div>
</div>