.totals-block {
    background-color: #8db4ff;
    color: #000;
    border: none;
    border: none;
    padding: 8px 12px;
    font-family: "Roboto";
    font-size: 1rem;
    line-height: 1.25rem;
    border-radius: 8px;
    transition: all 0.3s ease;

    .divNormal {
        font-family: 'Roboto' !important;
    }

    .divBold {
        font-family: 'Roboto' !important;
        font-weight: 600;
    }
}

.lendersmapping-tbl {
    height: calc(100vh - 170px);
}